.nautilus-canvas-item {
	border-radius: 5px;
}
.nautilus-desktop.nautilus-canvas-item {
	color: #ffffff;
	text-shadow: 1px 1px alpha(#202020, 0.8);
}
.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:hover,
.nautilus-desktop.nautilus-canvas-item:selected {
	margin: 1px;
	margin-top: 2px;
	padding: 2px;
	text-shadow: none;
}
